export(ROC, roctable, scaling, TOC, uncertainty)
exportClasses(Roc, Toc)
import(methods)
importFrom(bit, as.bit)
importFrom("graphics", "axis", "legend", "par", "points", "hist", "lines", "text")
importFrom("grDevices", "rgb")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
import(terra)