export(ROC, roctable, scaling, TOC, uncertainty)
import(raster)
import(methods)
importFrom(bit, as.bit)
importFrom(rgdal, CRSargs)
exportClasses(Roc, Toc)
importFrom("graphics", "axis", "legend", "par", "points")
importFrom("grDevices", "rgb")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")